html{
	width: 100%;
	height: 100%;
}
body{
	position: relative;
	overflow: hidden;
	height: 100%;
	font-family: "arial" "SimHei";
}
a{
	color: #a3a3a3;
	text-decoration: none;
	font-weight: 100;
	cursor: pointer;
	font-size: 80%;
}
h1{
	color: #dc791b;
	padding-top: 2em
}
h4{
	color: #555;
	font-weight: 100;
	padding-bottom: .1em;
}
p{
	font-size: .5em;
	color: #ccc;
	font-weight: 100;
	font-family: "STFangsong";
	padding:1em; 
	opacity: 0;
	position: absolute;
	width: 32%;
	left: 15%;
	border: 1px solid #ccc;
	border-radius: 10px;
	top: 40%;
	text-align: justify;
	transition: all .3s ease-in-out;
}
p.show{
	font-size: .5em;
	color: #ccc;
	font-weight: 100;
	font-family: "STFangsong";
	padding:1em; 
	opacity: 1;
	position: absolute;
	width: 30%;
	left: 15%;
	border: 1px solid #ccc;
	border-radius: 10px;	
}
p:before{
	 content: " ";
	 height:0px; 
	 width:0px;
	 border-right:20px solid #006633;
	 border-top:20px solid transparent;
	 border-bottom:20px solid transparent;
	 position: absolute;
	 left: -20px;
}
.wrap{
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}
.tiankong{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 6;
}
.content span{
	color: #555;
	font-size: .5em;
	padding-bottom: 3em;
	display: inline-block;
}
.biaotou{
	width: 100%;
	position: fixed;
	z-index: 5;
	padding: 10px 10px 10px 10px;
}
.right{
	float: right;
}
.right ul{
	padding: 1em;
	float: right;
	display: block;
}
.right ul li{
	float: left;
	list-style: none;
	padding-right: 2em;
}
.main{
	background: #ccc url(../link/star-Recovered.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: relative;
	transition: .8s ease-in-out;
}
.main.hide{
	transform: translateY(-1200px);
	opacity: 0;
}
.main .all-star{
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	z-index: 5;
}
.main .all-star .sun{
	float: left;
	width: 25%;
}
.main .all-star .sun>img{
	width: 100%;
	height: 100%;
	transform: translateX(-5%);
	transition:all .4s ease-in-out;
}
.main .all-star .sun>img:hover{
	transform: scale(1.1,1.1);
	cursor: pointer;
}
.main .all-star .other{
	line-height: 2.3em;
	text-align: center;
	width: 75%;
	float: right;
	transform: translateY(50%);
}
.main .all-star .other>div{
	color: transparent;
	font-size: .4em; 
	float: left;
	width: 12.3%;
	transition: .4s;
}
.main .all-star .other>div:hover{
	color: #ccc;
	width: 12.5%;
}
.main .all-star .other>div img{
	width: 100%;
	height: 100%;
}
.main .maintext{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
}
.main .maintext span{
	color: #dc791b;
	font-size: 2em;
	letter-spacing: .4em
}
div.shine{
	position: relative;
	width: 100%;
	height: 100%;
}
div.shine .shine1{
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #ccc;
	top: 20%;
	left: 50%;
	animation-name: myshine;
	animation-duration: .6s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-delay: .2s;
}
div.shine .shine2{
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #ccc;
	top: 80%;
	left: 20%;
	animation-name: myshine;
	animation-duration: .6s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-delay: .4s;
}
div.shine .shine3{
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #ccc;
	top: 60%;
	left: 60%;
	animation-name: myshine;
	animation-duration: .6s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-delay: .7s;
}
@keyframes myshine{
	from{
		opacity: 0;
	}
	to{
		opacity: .8;
	}
}
body .wrap .zong{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
}
body .wrap .zong.show{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 7;
}
body .wrap .zong .sidebar{
	background: blue -webkit-linear-gradient(left, #013e66 , #040000 80%);
	position: fixed;
	left: 0;
	top: 0;
	width: 210px;
	height: 100%;
	z-index: 7;
}
.sidebar .list
{
	position: relative;
	top: 20px;
	width: 100%;
	height: 100%;
}
.sidebar .list .nano
{
	padding: 1em 2em 1em 3em;
	height: 100%;
}
.nano li
{
	list-style-type: none;
	color: #162040;
}
.nano li .number
{
	font-size: 3em;
}
.sidebar .list .nano li a:hover{
	color: #dc791b;
}
.nano li .link
{
	font-size: 1em;
	color: #7a7a7a;
}
.nano li .link2
{
	font-size: .8em;
	color: #7a7a7a;
	position: relative;
	top: 1em;
	left: -1em;
}
.nano li .link2
{
	font-size: .8em;
	color: #7a7a7a;
	position: relative;
	top: 1em;
	left: -1em;
}
.yemian
{
	margin-left: 260px;
	position: relative;
	overflow: hidden;
	width: calc(100% - 260px);
}
.yemian .sunlive
{
	transition: .3s all ease-in-out;
	padding-top: 61px;
	width: 100%;
	height: 100vh;
}
.yemian .content
{
	width: 100%;
	height: calc(100vh - 61px);
	overflow: auto;
	background: radial-gradient(at top, rgba(0,0,0,.2), transparent 70%) no-repeat;
	background-size: 100% 15px;
	position: relative;
	z-index: 10;
}
.yemian .content .no1{
	margin-top: 1em;
	background-image: url(../link/huan.jpg);
	background-position: 75%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 60%;
}
.yemian .content .no2{
	position: relative;
	margin-top: 4em
}
.yemian .content .no2 .bijiao{
	width: 40%;
	float: left;
	margin-right: 3em;
}
.yemian .content .no2 .bijiao:nth-child(4){
	float: right;
	margin: 2em 7em;
}
.yemian .content .no2 .bijiao>img{
	width: 90%;
}
.yemian .content .jiantou{
	clear: both;
	text-align: center;
}
.yemian .content .jiantou>img{
}
.yemian .content .no2 .bijiaoText{
	position: absolute;
	top: 60%;
	left: 10%;
}
.yemian .content .no2 .bijiaoText>span:nth-child(1){
	color: #dc791b;
	line-height: 2em;
	padding-left: 19px;
	background: url(../link/sun44.png);
	background-size: 10%;
	padding-bottom: 0;
	background-repeat: no-repeat;
	background-position: 0% 8%;
}
.yemian .content .no2 .bijiaoText>span:nth-child(3){
	color: #dc791b;
	line-height: 2em;
	padding-left: 19px;
	background: url(../link/sun44.png);
	background-size: 14%;
	padding-bottom: 0;
	background-repeat: no-repeat;
	background-position: 0% 8%;
}
.yemian .content .star1{
	background-image: url(../link/shuiXing.png);
	background-size: contain;
	background-position: 70%;
	background-repeat: no-repeat;
}
.yemian .content .star1 .shuiXinText{
	position: relative;
}
.yemian .content .star1 .center{
	width: 5.5em;
}
.yemian .content .star1 .center span{
	display: inline-block;
	padding-bottom: 1em;
	color: #dc791b;
	cursor: pointer;
}
.yemian .content .star2{

}
.yemian .content .star2 .jinxingText{
	background-image: url(../link/jinxing.jpg);
	padding-top: 1em;
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 80%;
}
.yemian .content .star2 .content2{
	position: relative;
	width: 60%;
}
.yemian .content .star2 .content2>span{
	transform: translateY(100%);
}
.yemian .content .star2 .content2 .inner{
	text-align: center;
}
.yemian .content .star2 .content2 .inner span{
	color: #dc791b;
	line-height: 2.2em;
}
.yemian .content .earth{
	background: grey;
}
.yemian .content .earth .star3{
	background: url(../link/earth-neiye.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 70%;
	width: 100%;
	padding: 2em;
	margin: 1em;
	background-origin: content-box;
}
.yemian .content .earth .star3 h1{
	padding-top: 0em;
}
.yemian .content .earth span.leftleave{
	color: #dc791b;
	line-height: 5em;
}


